    /*REGOLE GENERALI*/
h1{
    font-size: 3rem;
}
p{
    font-weight: 600;
}
    
    /*HEADER*/

/*Barra nera e logo sony*/
.ms_header{
    background-color: black;
    width: 100%;
    position: fixed;
}

.ms_btncolor{
    background-color: #363636;
    border:none;
}
/*Navbar*/
.ms_dropdown_toggle::after {
    content:none
}
.ms_sublink:before{
    content: "";
    display: list-item;
    list-style-type: disc;
    position: absolute;
    transform: translateY(50%);
    font-size: 0.5rem;
    color: #0070D1;
    margin-left: 0.25rem;
}
.ms_borderstyle_navbar{
    border-color: grey;
    border-right: 0;
    border-left: 0;
    border-radius:0;
}
.navbar li{
    margin-left: 20px;
}
.ms_btnstyle{
    width: 20%;
    margin: 10px 0;
}

@media (min-width: 1400px) { 
    .ms_borderstyle_navbar{
        border: none;
    }
    .ms_btnstyle{
        width: auto;
        margin: 0;
    }
}

.ms_faketextform{
    border: 1px solid lightgrey;
    border-radius: 15px;
}
.ms_faketextform img{
    height: 30px;
    padding: 0 0 5px 5px;
}
.ms_faketextform input{
    width: calc(100% - 43px);
}
input:active, input:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

/*MAIN*/

/*Sezione Returnal*/

.ms_jumbo{
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 116px;
}

.ms_jumbo_style{
    color: white;
}
.ms_btncolor-orange{
    background-color: #CD3D0F;
    border: none;
}

/*Sezione Returnal n Crash*/
.ms_round{
    border-radius: 20px;
}
.ms_img{
    width: 100%;
    height: 100%;
}
.ms_imgbox{
    height: auto;
}
.ms_blueborder{
    border: 2px solid #0070D1;
    padding: 3px;
    box-sizing: content-box;
}
.ms_invisible-border{
    border: 2px solid white;
    padding: 3px;
    box-sizing: content-box;
}

/*Sezione it takes two*/
.ms_jumbo2{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ms_white_style{
    color:white
}

/*Sezione nuove uscite*/
.ms_backgound_black{
    background-color: #1F1F1F;
    width: 100%;
}

/*Sezione playstation plus*/
.ms_background_psplus{
    background-color: #BEBCBB;
    width: 100%;
}

/*Sezione playstation now*/
.ms_background_psnow{
    background-color: #161C3B;
    width: 100%;
}

    /*FOOTER*/

.ms_footer_background{
    background-color: #00439C;
}
.ms_white_style ul{
    list-style-type: none;
}
.ms_white_style ul li a{
    text-decoration: none;
    color: inherit;
}
.ms_footer-logo{
    height: 75px;
}


