    /*HEADER*/

/*Barra nera e logo sony*/
.ms_header{
    background-color: black;
    width: 100%;
}

/*Navbar*/



    /*MAIN*/

/*Sezione Returnal*/

.ms_jumbo{
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 675px;
}
.ms_fontcolor_white{
    color: white;
}
.ms_returnalsize{
    width: 50%;
}


/*Sezione Returnal n Crash*/
.ms_imground{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.ms_imgbox{
    height: auto;
}

/*Sezione Ps5 e accessori*/
