    /*HEADER*/

/*Barra nera e logo sony*/
.ms_header{
    background-color: black;
    width: 100%;
}

.ms_btncolor{
    background-color: #363636;
    border:none;
}

    /*MAIN*/

/*Sezione Returnal*/

.ms_jumbo{
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ms_jumbo_style{
    margin-top:350px;
    color: white;
}

/*Sezione Returnal n Crash*/
.ms_round{
    border-radius: 15px;
}
.ms_img{
    width: 100%;
    height: 100%;
}
.ms_imgbox{
    height: auto;
}

/*Sezione it takes two*/
.ms_jumbo2{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ms_white_style{
    color:white
}

/*Sezione nuove uscite*/
.ms_backgound_black{
    background-color: #1F1F1F;
    width: 100%;
}

/*Sezione playstation plus*/
.ms_background_psplus{
    background-color: #BEBCBB;
    width: 100%;
}

/*Sezione playstation now*/
.ms_background_psnow{
    background-color: #161C3B;
    width: 100%;
}

    /*FOOTER*/

.ms_footer_background{
    background-color: #00439C;
}
.ms_white_style ul{
    list-style-type: none;
}
.ms_white_style ul li a{
    text-decoration: none;
    color: inherit;
}
.ms_footer-logo{
    height: 75px;
}


